* {
  font-family: "Montserrat", sans-serif;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 1;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: black;
  /* border-left: 1px solid black; */
  padding: 30px;
}

.jumbotron {
  text-align: center;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

.container {
  margin-right: 75px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;
}

.timeblock {
  text-align: center;
  margin-bottom: 20px;
}

.hour {
  background-color: #6c43ad96;
  /* color: black; */
  border: 1px dashed rgba(0, 0, 0, 0.315);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding-top: 30px;
}

.description {
  white-space: pre-wrap;
  background-color: rgba(121, 113, 113, 0.295);
}

.savebutton {
  border: 1px dashed rgba(0, 0, 0, 0.315);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: lightseagreen;
  color: white;
}

.past {
  background-color: #a33838;
  color: white;
}

.present {
  background-color: #247b81;
  color: white;
}

.future {
  background-color: #41ca41a6;
  color: white;
}
